/* Home.css */

@keyframes bgPan {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center center;
  }
  100% {
    background-position: center top;
  }
}

.bg-animated {
  animation: bgPan 30s ease-in-out infinite;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center top !important;
}
